<footer class="footer-dev">
    <div class="footer-col logo-footer">
        <img src="../assets/imgs/logo-sem-fundo.png" alt="Logo Adote-me">

        <div class="nav-footer">
            <a class="nav-link" href="../pages/home.html">Home</a>
            <a class="nav-link" href="../pages/adotar.html">Adotar</a>
            <a class="nav-link" href="../pages/postar.html">Postar</a>
            <a class="nav-link" href="../pages/quem-somos.html">Quem somos</a>
            <a class="nav-link" href="../pages/projeto.html">Projeto</a>
        </div>
    </div>

    <div class="footer-col dev-info">
        <p class="dev-title"><strong>DESENVOLVIDO POR:</strong></p>

        <p>SILVIO GABRIEL |
            <a href="https://www.linkedin.com/in/silvio-gabriel-992b8622b/" target="_blank">LinkedIn</a>
        </p>

        <p>GABRIEL DAMACENO |
            <a href="https://www.linkedin.com/in/gabriel-damaceno-38b762292/" target="_blank">LinkedIn</a>
        </p>

        <p>ALEXSANDRO LUIZ JR |
            <a href="https://www.linkedin.com/in/alexsandro-luiz-jr-365687215/" target="_blank">LinkedIn</a>
        </p>
    </div>
</footer>