<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <img src="../assets/imgs/Logo.png" alt="" style="width: 80px;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link" href="home.html">Home</a>
                <a class="nav-link" href="adotar.html">Adotar</a>
                <a class="nav-link" href="#">Postar</a>
                <a class="nav-link" href="#">Quem somos</a>
                <a class="nav-link" href="#">Projeto</a>
            </div>
        </div>
        <img src="../assets/imgs/icon-perfil.png" alt="">
    </div>
</nav>