<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <img src="../assets/imgs/Logo.png" alt="" style="width: 80px;">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto">
                <a class="nav-link" href="../pages/home.html">Home</a>
                <a class="nav-link" href="../pages/adotar.html">Adotar</a>
                <a class="nav-link" href="../pages/postar.html">Postar</a>
                <a class="nav-link" href="../pages/quem-somos.html">Quem somos</a>
                <a class="nav-link" href="../pages/projeto.html">Projeto</a>
            </div>
        </div>
        <a href="../pages/login.html">
            <img src="../assets/imgs/icon-perfil.png" alt="">
        </a>
    </div>
</nav>