@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

navbar-custom {
    background-color: #ffffff; /* coloque a cor que quiser */
}

.navbar-nav {
    gap: 30px; /* altere o valor como quiser */
}

/* Muda a cor dos links */
.navbar-nav .nav-link {
    color: #000 !important;   /* ALTERE AQUI */
}

/* Cor ao passar o mouse */
.navbar-nav .nav-link:hover {
    color: #575151 !important;  /* ALTERE AQUI */
}

/* Fonte apenas no navbar */
.navbar-nav .nav-link {
    font-family: "Alexandria", sans-serif;
    font-weight: 500; /* ajuste se quiser */
}

/* ----- CONTAINER GERAL ----- */

/* ----- CONTAINER GERAL ----- */
.login-container {
    margin-top: 60px;
    margin-bottom: 120px;    /* <--- espaço abaixo do card (ajuste aqui) */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- CARD ----- */
.login-card {
    width: 550px;
    background: #F4F4F4;
    padding: 50px 60px;      /* sem padding-bottom extra aqui */
    border-radius: 18px;
    box-shadow:  5px 5px 7px #d3d3d3,
                -5px -5px 7px #ededed;
    font-family: "Alexandria", sans-serif;
}

/* ----- TÍTULO ----- */

.login-title {
    text-align: center;
    font-size: 60px;
    font-family: "Staatliches", sans-serif;
    color: #C68747;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

/* ----- INPUTS ----- */

.login-input {
    background: #e5e5e5;
    border: none;
    border-radius: 12px;
    margin-bottom: 20px;
    height: 42px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
}

/* Remove contorno azul ao clicar */
.login-input:focus {
    outline: none;
    box-shadow: none;
}

/* ----- TEXTO DE CADASTRO ----- */

.signup-text {
    margin-top: 10px;
    font-size: 15px;
}

.signup-text a {
    color: #2d37e7;
    text-decoration: none;
}

/* ----- BOTÃO ----- */

.login-btn {
    width: 100%;
    background-color: #6B2D26;
    color: white;
    font-family: "Alexandria", sans-serif;
    font-weight: 500;
    border-radius: 20px;
    padding: 8px 0;
    font-size: 16px;
    margin-top: 15px;
}

.login-btn:hover {
    background-color: #fffefe;
}

/* Corrige margem porque o header carrega depois */
body {
    padding-top: 20px;
}
